.fundoLogin {
   background-image: url(https://ik.imagekit.io/vmo8ef1xo/Projeto%20blogpessoal/book-863418.jpg?updatedAt=1716487419569);
   background-repeat: no-repeat;
   min-height: 100vh;
   width: 100%;
   background-size: cover;
   background-position: center;
 }
